<app-menu baseURL="../"></app-menu>
<!--<app-input title="Worteingabe"></app-input>
<app-tape-controls></app-tape-controls> -->

<!-- <div class="detailsContainer">
    <span class="text">
        {{ title }}
    </span>
    <input
        class="detailsInput"
        [(ngModel)]="title"
        placeholder="Titel"
    />
    </div>

    <div class="detailsContainer">
    <span class="text">
        {{ description }}
    </span>
    <input
        class="detailsInput"
        [(ngModel)]="this.description"
        placeholder="Beschreibung"
    />
    </div> -->

<span class="spacer"></span>
<button mat-raised-button color="primary" (click)="openDfaDialog()" class="modern-button">
    DFA Anzeigen
  </button>
  
<!--<app-testcasebutton></app-testcasebutton>-->