<app-menu baseURL="../"></app-menu>
<app-input title="Worteingabe"></app-input>

<!-- <div class="detailsContainer">
    <span class="text">
        {{ title }}
    </span>
    <input
        class="detailsInput"
        [(ngModel)]="title"
        placeholder="Titel"
    />
    </div>

    <div class="detailsContainer">
    <span class="text">
        {{ description }}
    </span>
    <input
        class="detailsInput"
        [(ngModel)]="this.description"
        placeholder="Beschreibung"
    />
    </div> -->

<span class="spacer"></span>
<app-testcasebutton></app-testcasebutton>