<div class="modal">
    <div class="modal-content">
      <div class="modal-header">Überschrift</div>
      <input #modalinput type="text" class="modal-input" placeholder="Eingabesymbol" [(ngModel)]="newSymbol">
      <button class="modal-button full-width" (click)="addRow()">Hinzufügen</button>
      <table class="modal-table">
        <thead>
          <tr>
            <th>Eingabesymbol</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data.transitionSymbols; let i = index">
            <td><input type="text" class="modal-input" [(ngModel)]="data.transitionSymbols[i]"></td>
            <td><button class="modal-button" (click)="removeRow(i)">Löschen</button></td>
          </tr>
          <tr *ngIf="data.transitionSymbols.length === 0" class="placeholder-row">
            <td><input type="text" class="modal-input placeholder" disabled></td>
            <td><button class="modal-button placeholder" disabled>Löschen</button></td>
          </tr>
        </tbody>
      </table>
      <button class="modal-button full-width" (click)="closeModal()">Okay</button>
    </div>
  </div>