<div class="testview">
  <div *ngIf="isDeterministic(); then deterministic; else notdeterministic"></div>
</div>

<ng-template #deterministic>
  <div>Der Automat ist bereits deterministisch</div>
</ng-template>

<ng-template #notdeterministic>
  <div>Der Automat ist nichtdeterministisch</div>

  <mat-checkbox
    name="endState"
    style="font-size: small; padding-bottom: 10px"
    [(ngModel)]="service.showDeterministicStates"
  >
    <div>Zeige nichtdeterministische Zustände</div>
  </mat-checkbox>
</ng-template>

<div class="table-container">
  <div>
    <!--Buttons für Anfangs-, End- und alle anderen Zustände-->
    <div class="state-buttons">
      <button (click)="setFocusedValue('(A)')">A</button>
      <button (click)="setFocusedValue('(E)')">E</button>
      <button *ngFor="let zustand of currentZustaende" (click)="setFocusedValue(zustand)">
        {{ zustand }}
      </button>
    </div>

    <table>
      <thead>
        <tr>
          <th>SDFA</th>
          <!--Tabellenkopf gefüllt mit Übergangssymbolen-->
          <th *ngFor="let symbol of uniqueTransitionSymbols">{{ symbol }}</th>
        </tr>
      </thead>
      <tbody>
        <!--Zeilen passen sind den Zuständen an-->
        <tr *ngFor="let zustaende of currentZustaende">
          <!--Input-Zellen mit Fokus-->
          <td>
            <input type="text" class="full-width-input" #firstCellInput (focus)="setFocusedCell(firstCellInput)" />
          </td>
          <td *ngFor="let symbol of uniqueTransitionSymbols">
            <input type="text" class="full-width-input" #symbolInput (focus)="setFocusedCell(symbolInput)" />
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Prüf- und Reset-Button -->
    <div class="state-buttons">
      <div class="button-container">
      <button class="left-button" (click)="checkTable()">Prüfen</button>
      <button class="right-button"(click)="resetTable()">Zurücksetzen</button>
    </div>  
  </div>
</div>
</div>


<!--
  <div
        *ngIf="this.service.stateMachine.startState != undefined"
        id="testsSuccessRate"
        [ngStyle]="{ 'border-color': getAcceptedWordsDivColour() }"
    >
        Testfälle: {{ getAcceptedWordsCount() }}/{{ getWordsCount() }} ({{
            getAcceptedWordsPercentage()
        }}%)
    </div>
    <div
        *ngIf="this.service.stateMachine.startState == undefined"
        id="testsSuccessRate"
        [ngStyle]="{ 'border-color': getAcceptedWordsDivColour() }"
    >
        Testfälle: Kein Startzustand
    </div>

  <div class="column2">
    <label class="header">Akzeptierte Eingaben</label>
    <button
      class="firstRow lastColumn"
      mat-icon-button
      (click)="addAcceptingInput()"
    >
      <mat-icon>add</mat-icon>
    </button>

    <ng-container *ngFor="let item of acceptingTestcases; let i = index">
      <input
        [ngClass]="{
          inputField: true,
          secondColumn: true,
          accepting: item.isAccepting()
        }"
        type="text"
        [(ngModel)]="item.input"
      />

      <button
        mat-icon-button
        class="lastColumn"
        (click)="removeAcceptingInput(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>


    <label class="header">Nicht akzeptierte Eingaben</label>
    <button
      class="lastColumn"
      mat-icon-button
      (click)="addNotAcceptingInput()"
    >
      <mat-icon>add</mat-icon>
    </button>

    <ng-container *ngFor="let item of notAcceptingTestcases; let i = index">
      <input
        [ngClass]="{
          inputField: true,
          secondColumn: true,
          accepting: !item.isAccepting()
        }"
        type="text"
        [(ngModel)]="item.input"
      />

      <button
        mat-icon-button
        class="lastColumn"
        (click)="removeNotAcceptingInput(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>

  </div>

-->