<div class="testview">
  <div *ngIf="isDeterministic(); then deterministic; else notdeterministic"></div>
  <div *ngIf="isStartStateDefined(); then ready; else notready"></div>
</div>

<ng-template #deterministic>
  <div>Endlicher Automat ist deterministisch</div>
</ng-template>

<ng-template #notdeterministic>
  <div>Endlicher Automat ist nichtdeterministisch</div>

  <mat-checkbox
    name="endState"
    style="font-size: small; padding-bottom: 10px"
    [(ngModel)]="service.showDeterministicStates"
  >
    <div>Zeige nichtdeterministische Zustände</div>
  </mat-checkbox>
</ng-template>

<ng-template #notready>
  <div class="notready">Startzustand fehlt</div>
</ng-template>

<ng-template #ready>
  <div class="column2">
    <label class="header">Akzeptierte Eingaben</label>
    <button
      class="firstRow lastColumn"
      mat-icon-button
      (click)="addAcceptingInput()"
    >
      <mat-icon>add</mat-icon>
    </button>

    <ng-container *ngFor="let item of acceptingTestcases; let i = index">
      <input
        [ngClass]="{
          inputField: true,
          secondColumn: true,
          accepting: item.isAccepting()
        }"
        type="text"
        [(ngModel)]="item.input"
      />

      <button
        mat-icon-button
        class="lastColumn"
        (click)="removeAcceptingInput(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>


    <label class="header">Nicht akzeptierte Eingaben</label>
    <button
      class="lastColumn"
      mat-icon-button
      (click)="addNotAcceptingInput()"
    >
      <mat-icon>add</mat-icon>
    </button>

    <ng-container *ngFor="let item of notAcceptingTestcases; let i = index">
      <input
        [ngClass]="{
          inputField: true,
          secondColumn: true,
          accepting: !item.isAccepting()
        }"
        type="text"
        [(ngModel)]="item.input"
      />

      <button
        mat-icon-button
        class="lastColumn"
        (click)="removeNotAcceptingInput(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>

  </div>
</ng-template>
