:host {
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Merge borders */
}
th, td {
  border: 1px solid black; /* Add borders to cells */
  padding: 8px; /* Add padding inside cells */
  text-align: center; /* Center-align text */
  background-color: #f2f2f2; /* Light gray background for headers */

}

/*
.column2 {
  display: grid;
  grid-template-columns: 1fr auto; /* Drei Spalten: für Bandinhalt, Ergebnis und Icons 
  gap: 10px; /* Abstand zwischen den Elementen 
}

.header {
  text-align: left;
  font-size: 1.2rem;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: auto;
  margin-bottom: auto;
}

.inputField {
  border-radius: 5px; /* Wert nach Wunsch anpassen 
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}

.accepting {
  border-color: green;
}

.firstRow {
  grid-row: 1;
}

.firstColumn {
  grid-column: 1;
}

.lastColumn {
  grid-column: -1;
}

#testsSuccessRate {
  border: solid 1px;
  margin-bottom: 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  border-width: 2px;
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
*/