<!--
<button mat-icon-button [disabled]="!hasPreviousStep()" (click)="reset()">
    <mat-icon>fast_rewind</mat-icon>
</button>

<button mat-icon-button [disabled]="!hasPreviousStep()" (click)="previousStep()">
    <mat-icon>skip_previous</mat-icon>
</button>

<button mat-icon-button [disabled]="!hasNextStep()" (click)="nextStep()">
    <mat-icon>skip_next</mat-icon>
</button>

<button id="fast_forward" mat-icon-button [disabled]="!hasNextStep()" (click)="skipToEnd()">
    <mat-icon>fast_forward</mat-icon>
</button>
-->