:host {
  display: block;
  justify-content: center;
  padding: 10px;
}

.full-width-input {
  display: flex;
  width: 100%;
  height: 100%; 
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: middle; 
}

.table-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px; 
  margin-bottom: 20px;
}

th, td {
  margin: 0;
  border: 1px solid black;
  padding: 0px;
  text-align: center;
  font-size: 20px;
  background-color: white;
  width: 100px;
}

.testview {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}

.buttons {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px; 
}

.buttons button {
  background-color: white; 
  color: black; 
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 15px; 
  margin: 0 5px;
  cursor: pointer; 
}

.buttons button:hover {
  background-color: #65a800; 
}

.button-container {
  display: flex;             
  justify-content: space-between; 
  width: 100%;             
}

.left-button {
  background-color: rgb(52, 236, 52) !important;
}

.right-button {
  background-color: red !important;
}

.left-button:hover {
  background-color: green !important;
}

.right-button:hover {
  background-color: darkred !important;
}

/*
.message-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 200px;
  font-weight: 500;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    &.deterministic {
      border-color: #4caf50;
      color: #4caf50;
    }

    &.not-deterministic {
      border-color: #f44336; 
      color: #f44336;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;

    .mat-checkbox-label {
      margin-left: 5px;
    }
  }

.column2 {
  display: grid;
  grid-template-columns: 1fr auto; /* Drei Spalten: für Bandinhalt, Ergebnis und Icons 
  gap: 10px; /* Abstand zwischen den Elementen 
}

.header {
  text-align: left;
  font-size: 1.2rem;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: auto;
  margin-bottom: auto;
}

.inputField {
  border-radius: 5px; /* Wert nach Wunsch anpassen 
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}

.accepting {
  border-color: green;
}

.firstRow {
  grid-row: 1;
}

.firstColumn {
  grid-column: 1;
}

.lastColumn {
  grid-column: -1;
}

#testsSuccessRate {
  border: solid 1px;
  margin-bottom: 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  border-width: 2px;
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
*/