h1 {
    text-align: center;
  }

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Ensures scrolling if content overflows */
    width: 100%; /* Allows the dialog content to take full width */
  }
  
  table {
    margin: 0 auto; /* Centers the table horizontally */
    border-collapse: collapse;
    margin: 20px;
    max-width: 100%; /* Limits table size to the dialog width */
    word-wrap: break-word;
  }
  
  
  th, td {
    margin: 0;
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    width: 100px;
  }
  