h1 {
    text-align: center;
  }

.mat-dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 80vh;  
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px; 
    margin-bottom: 20px;
  }
  
  th, td {
    margin: 0;
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    width: 100px;
  }