:host {
    display: flex;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

.myMenuItem {
    display: flex;
    color: black;
    font-size: 14px;
    padding: auto;
    margin: auto;
    height: 30px;
    align-content: center;
    align-items: center;
    align-self: center;
}

#inputTag {
    display: none;
}

label {
    cursor: pointer;
}